<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Inter Font (Primary Recommendation) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/css/pricing.css" />
    <title>Auxir Pricing</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="company">
          <div class="logo"></div>
          <div class="name">Auxir</div>
        </div>

        <div class="nav-links">
          <p>Features</p>
          <p>AI</p>
          <p>Pricing</p>
          <p>Customers</p>
          <p>Templates</p>
          <p>Contact</p>
        </div>

        <div class="get-started-btn">
          <button>Get Started</button>
        </div>
      </div>

      <div class="tool-description-sec">
        <p class="badge">Auxir raised $100m Series A by Y Combinator</p>
        <h1 class="headline">
          A universal tool for all<br />
          your project needs at<br />
          your price point
        </h1>
        <p class="sub-headline">
          Consolidate your projects into a uniformed and centralised<br />control
          center. No credit card required.
        </p>
        <div class="price-toggler-sec">
          <p class="monthly-label">Monthly</p>
          <div class="checkbox-wrapper">
            <label class="switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
            </label>
          </div>
          <div class="annual-label-container">
            <p class="annually-label">Annually</p>
            <p class="discount">20% off</p>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="card basic">
          <h3 class="tier">Basic</h3>
          <p class="tier-desc">
            For small to medium sized business that have a smaller target
            audience
          </p>
          <div class="seperator"></div>
          <h2 class="price"></h2>
          <div class="sub-price">
            <span>+ $20 /</span>
            <p>person per month</p>
          </div>
          <button class="cta-btn">Schedule a demo</button>
          <ul class="tier-features">
            <li>✓ 10 GB Storage</li>
            <li>✓ 1 Custom Domain</li>
            <li>✓ Multiple addresses</li>
            <li>✓ Invoicing & Reimbursments</li>
            <li>✓ Multi-State Payroll</li>
            <li>✓ Custom Integrations</li>
          </ul>
        </div>

        <div class="card professional">
          <h3 class="tier">Professional</h3>
          <p class="tier-desc">
            For larger more dynamic businesses that have more than 100k active
            users
          </p>
          <div class="seperator"></div>
          <h2 class="price"></h2>
          <div class="sub-price">
            <span>+ $20 /</span>
            <p>person per month</p>
          </div>
          <button class="cta-btn">Schedule a demo</button>
          <ul class="tier-features">
            <li>✓ 100 GB Storage</li>
            <li>✓ 5 Custom Domain</li>
            <li>✓ Multiple addresses</li>
            <li>✓ Invoicing & Reimbursments</li>
            <li>✓ Full Payroll Tax State Regulations</li>
            <li>✓ Custom Integrations</li>
          </ul>
        </div>

        <div class="card enterprise">
          <h3 class="tier">Enterprise</h3>
          <p class="tier-desc">
            For major institutions that have millions of transactions each
            month.
          </p>
          <div class="seperator"></div>
          <h2 class="price"></h2>
          <div class="sub-price">
            <span>+ $20 /</span>
            <p>person per month</p>
          </div>
          <button class="cta-btn">Schedule a demo</button>
          <ul class="tier-features">
            <li>✓ Unlimited Storage</li>
            <li>✓ 20 Custom Domain</li>
            <li>✓ Multiple addresses</li>
            <li>✓ Invoicing & Reimbursments</li>
            <li>✓ Full Payroll Tax State Regulations</li>
            <li>✓ Custom API Development</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/pricing.js"></script>
</html>
